body {
    background-color: #201f1f;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 100px;
}

nav li {
    color: #8a8a8a;
    display: inline-block;
    margin-left: 150px;
    font-family: helvetica;
    font-size: 18px;
    cursor: pointer;
}

.home {
    margin-left: 40px;
}