@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    background-color: #201f1f;
    font-family: 'Righteous', cursive;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 100px;
}

nav li {
    color: #8a8a8a;
    display: inline-block;
    margin-left: 150px;
    font-family: helvetica;
    font-size: 18px;
    cursor: pointer;
}

.home {
    margin-left: 40px;
}

#main {
    margin-left: 2vw;
}

#trending {
    width: 100%;
    height: 600px;

}

#trending img {
    width: 350px;
    margin-left: 20px;
}

#trendingImg1 {
    margin-left: 500px;
}